<div class="grid grid-cols-8 gap-4 py-3 px-3">
  <div class="card w-60 bg-base-100 shadow-xl">
    <figure>
      <img src="../assets/the-nun-3.jpg" alt="nun" class="rounded-md px-3" />
    </figure>
  </div>
  <div class="card w-60 bg-base-100 shadow-xl">
    <figure>
      <img src="../assets/the-nun-3.jpg" alt="nun" class="rounded-md px-3" />
    </figure>
  </div>
  <div class="card w-60 bg-base-100 shadow-xl">
    <figure>
      <img src="../assets/the-nun-3.jpg" alt="nun" class="rounded-md px-3" />
    </figure>
  </div>
  <div class="card w-60 bg-base-100 shadow-xl">
    <figure>
      <img src="../assets/the-nun-3.jpg" alt="nun" class="rounded-md px-3" />
    </figure>
  </div>
  <div class="card w-60 bg-base-100 shadow-xl">
    <figure>
      <img src="../assets/the-nun-3.jpg" alt="nun" class="rounded-md px-3" />
    </figure>
  </div>
  <div class="card w-60 bg-base-100 shadow-xl">
    <figure>
      <img src="../assets/the-nun-3.jpg" alt="nun" class="rounded-md px-3" />
    </figure>
  </div>
  <div class="card w-60 bg-base-100 shadow-xl">
    <figure>
      <img src="../assets/the-nun-3.jpg" alt="nun" class="rounded-md px-3" />
    </figure>
  </div>
  <div class="card w-60 bg-base-100 shadow-xl">
    <figure>
      <img src="../assets/the-nun-3.jpg" alt="nun" class="rounded-md px-3" />
    </figure>
  </div>
  <div class="card w-60 bg-base-100 shadow-xl">
    <figure>
      <img src="../assets/the-nun-3.jpg" alt="nun" class="rounded-md px-3" />
    </figure>
  </div>
  <div class="card w-60 bg-base-100 shadow-xl">
    <figure>
      <img src="../assets/the-nun-3.jpg" alt="nun" class="rounded-md px-3" />
    </figure>
  </div>
  <div class="card w-60 bg-base-100 shadow-xl">
    <figure>
      <img src="../assets/the-nun-3.jpg" alt="nun" class="rounded-md px-3" />
    </figure>
  </div>
  <div class="card w-60 bg-base-100 shadow-xl">
    <figure>
      <img src="../assets/the-nun-3.jpg" alt="nun" class="rounded-md px-3" />
    </figure>
  </div>
</div>
