<div
  class="hero min-h-screen bg-base-200"
  style="background-image: url(../assets/mgid_arc_imageassetref_vh1.jpeg)"
>
  <div class="hero-overlay bg-opacity-80"></div>
  <div class="hero-content flex-col lg:flex-row">
    <img
      src="../assets/MV5BNTRmZjlhODItY2NkZi00ZTMwLTk3NjEtODE1YTEwZWJjMjI4XkEyXkFqcGdeQXVyNzU5OTQ1MDM@._V1_QL75_UX380_CR0,4,380,562_.jpg"
      class="max-w-sm rounded-lg shadow-2xl"
    />
    <div>
      <h1 class="text-5xl font-bold">Wild 'N Out</h1>
      <h4 class="text-2xl font-bold text-amber-300">
        TV Series 2005 - TV-14 30m
      </h4>
      <p class="py-6 font-bold">
        Watch as Nick Cannon and a new A-list celebrity lead a team of improv
        comedians each week as they compete against each other in the new show:
        Nick Cannon Presents Wild 'N Out.
      </p>
      <h4 class="text-1xl font-bold text-purple-300">Creator: Nick Cannon</h4>
      <h4 class="text-1xl font-bold text-purple-300">
        Stars: Nick Cannon | DJ D-Wrek | Chico Bean
      </h4>
      <!-- <h4 class="text-1xl font-bold text-purple-300">
        Stars Xolo Maridueña Bruna Marquezine Becky G
      </h4> -->
      <br />
      <button class="btn btn-primary" routerLink="/wild-n-out">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"
          />
        </svg>

        Watch Now !
      </button>
    </div>
  </div>
</div>
