<div class="hero min-h-screen bg-base-200">
  <div class="hero px-10">
    <div class="w-full">
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/playlist/37i9dQZF1DWXF8Nf1uycDZ?utm_source=generator&theme=0"
        width="100%"
        height="800"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
      ></iframe>
    </div>
  </div>
</div>
